
<table class="insert">
<tr>
  <th>Aliquota:</th>
  <td><%=h @tipo_iva.aliquota %> %</td>
</tr>

<tr>
  <th>Descrizione:</th>
  <td><%=h @tipo_iva.descrizione %></td>
</tr>
</table>
<br />
<%= link_to 'Modifica tipo Aliquota', edit_tipo_iva_path(@tipo_iva), :class=>"commandbutton" %> 
<%= link_to "Ritorna all'elenco", tipo_ivas_path  , :class=>"commandbutton" %>